@model Blog.Model.T_Article

@{
    ViewBag.Title = "Manag";
    Layout = "~/Views/Shared/navLayoutPage1.cshtml";
}
<script src="~/Scripts/Manag.js"></script>
<script type="text/javascript">
    window.onload = function () {
        CKEDITOR.replace('txtContent');
    };
</script>
    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="margin-top:10px">
                <div class="list-group">
                    <a href="/Account/Index" class="list-group-item" >
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户管理
                    </a>
                    <a href="/Type/Index"   >
                        <span class="list-group-item glyphicon glyphicon-zoom-in">类别管理</span>
                    </a>
                    <a href="/Comment/Index"  >
                        <span class="list-group-item glyphicon glyphicon-pencil">评论管理</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="btn-group" id="toolbar">
                    <button type="button" class="btn btn-default glyphicon glyphicon-plus" id="btnAdd">新增</button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-wrench" id="btnEdit">修改</button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-trash" id="btnDelete">删除</button>
                    <button type="button" class="btn btn-default glyphicon glyphicon-trash" id="btnDeleteAll">批量删除</button>
                </div>
                <table id="tb_article"></table>
            </div>
        </div>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增文章</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-2 control-label">文章标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Title" id="txtTitle" placeholder="请输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputContent" class="col-sm-2 control-label">文章内容</label>
                        <div class="col-sm-10">
                            <textarea style="resize:none" class="form-control" rows="5" id="txtContent" name="Content" placeholder="请输入文章内容"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputType" class="col-sm-2 control-label">文章类别</label>
                        <div class="col-sm-10">
                            @*@Html.DropDownList("slectType", ViewBag.list as List<SelectList>, new { @class="form-control" })*@
                            <select id="slectType" name="ArticleTypeId" class="form-control">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSubmit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


