<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/blog.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/jumbotron.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-locale-all.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Scripts/publish.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">心灵垃圾桶</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="li01"><a href="/Article/Index">首页</a></li>
                        <li class="li01"><a id="publish" href="javascript:void(0);">发布</a></li>
                        @*<li class="li01"><a href="/Manage/Manage">管理</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人信息 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">我的信息</a></li>
                                <li><a href="/Manag/Manag">我的文章</a></li>
                                <li><a href="#">我的收藏</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/User/Login">登录 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/User/Reg">注册</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        <div style="clear: both"></div>
        <footer class="bs-docs-footer text-center" role="contentinfo">
            <h3><small>请详细阅读《用户使用说明》<a href="#">《用户使用说明》</a></small></h3>
            <div>
                <p>©制作者Mr_Yang</p>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增文章</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">文章标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Title" id="txtTitle" placeholder="请输入标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputContent" class="col-sm-2 control-label">文章内容</label>
                            <div class="col-sm-10">
                                <textarea style="resize:none" class="form-control" rows="5" id="txtContent" name="Content" placeholder="请输入文章内容"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputType" class="col-sm-2 control-label">文章类别</label>
                            <div class="col-sm-10">
                                @*@Html.DropDownList("slectType", ViewBag.list as List<SelectList>, new { @class="form-control" })*@
                                <select id="slectType" name="ArticleTypeId" class="form-control"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnPublish">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
</html>
